﻿/*xs = smartphones*/
body {
    background: url('../images/squairy_light.png');
}

.indexWrapper {
     padding-top: 25px;  
     padding-bottom: 25px;  
}

.pageLine a, .pageLine div {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    font-size: 25px;
}


/*sm = tablets*/
@media (min-width: 768px) {

}

/*md = desktop*/
@media (min-width: 992px) {

}

/*lg = large desktop*/
@media (min-width: 1200px) {

}


