﻿<div class="dictionaryWrapper">
    <ul class="list-group" >
        <li class="list-group-item">
            <my-ticket-animation my-next-ticket="nextTicket()" my-trigger-audio="triggerAudio()">
                <div ng-click="nextWord()" class="dictionaryItem translateBtn">
                    <div class="dictionary originalWord">{{ogWord}}</div>
                    <div class="hiddenWord dictionary translatedWord">{{translatedWord}}</div>
                    <span class="dictionary sideCaret">></span>
                </div>
            </my-ticket-animation>
        </li>
    </ul>
    <div class="dictionary translateBtnsWrapper">
        <configuration-directive></configuration-directive>
        <a href="#/tickets" class="btn btn-primary btnBack col-xs-5 col-sm-3">Back to main</a>
    </div>
</div>
