﻿<div class="indexWrapper">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="ticket in ticketCollection">
            <a href="#/dictionary/{{ticket.PAGENAME}}" class="listItem dictionaryBtn" ng-class="{underLinedTicket: lastVisitedPageName == ticket.PAGENAME}">
                {{ticket.PAGENAME}}
                <span class="sideCaret">></span>
            </a>
        </li>
    </ul>
</div>
